.container{
  margin-bottom: 157px;
  position: relative;
}

.blockLeft{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.textTitle{
  width: 523px;
  height: 480px;
  z-index: 50;
  font-size: 120px;
  line-height: 120px;
  letter-spacing: -2px;
  font-weight: 600;
  z-index: 200;
  text-align: left;
}
.yellow{
  width: 504px;
  height: 121px;
  position: absolute;
  left: 0;
  bottom: -50px;
  z-index: -1;
}
.bottomSquareContainer{
  display: flex;
  height: 899px;
}
.bottomSquare{
  width: 321px;
  position: relative;
  top: 192px;
}
.samantha{
  position: absolute;
  
}
.bottomSquare2{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.trainerName{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5;
  text-align: left;
  padding-left: 15px;
  margin-top: 20px;
}
.trainer{
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5;
  opacity: 50%;
  text-align: left;
  padding-left: 15px;
  margin-top: 5px;
}

.bigSquare{
  width: 950px;
  height: 733px;
  /* opacity: 10%; */
  color: #727272;
  background-color: #1a1a1a;
  top: -60px;
  right: -70px;
  z-index: -2;
  position: absolute

}
.rightText{
  width: 558px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.rightText p{
  margin-bottom: 50px;
  font-size: 25px;
  opacity: 70%;
  letter-spacing: 0.5px;
  line-height: 50px;
  z-index: 10;
}
.btn{
  z-index: 400;
}

@media screen and (max-width: 600px){
  
}