
.cardTestimonials{
  width: 384px;
  height: 234px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  padding-left: 22px;
}
.cardTestimonials p{
  height: 96px;
  margin: 0;
}
.imgBlock{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 40px;
}
.name{
  padding-left: 19px;
  padding-right: 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #121216;
  font-weight: 600;
}
.customer{
  font-weight: 400;
  font-size: 14px;
  color: #A8A9B2;
}