.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
}
.content{
  margin: 20px 0;
}
.textContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.textContent h1{
  font-weight: 600;
}

.productContent{
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
}
.next{
  position: absolute;
  font-size: 20px;
  color: black;
  height: 20px;
  width: 20px;
  right:20px;
  top: 50%;
  transform: translateY(-50%);
}
.prev{
  position: absolute;
  font-size: 20px;
  color: black;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.cardContainer{
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
}
.prev{
  position: absolute;
  left: -40px;
  display: none;
}
.next{
  position: absolute;
  right: -40px;
  display: none;
}

@media screen and (max-width: 600px){
  .container{
    margin-bottom: 44px;
    width: 100%;
  }
  .textContent{
    margin-bottom: 20px;
  }
  .productContent{
    position: relative; 
  }
  .textContent h1{
    font-size: 2rem;
  }
  .textContent p{
    font-size: 12px;
  }
  .hiddenContainer{
    /* border: 1px solid red; */
    width: 264px;
    overflow: hidden;
  }
  .prev{
    position: absolute;
    left: -20px;
    display: block;
  }
  .next{
    position: absolute;
    right: -20px;
    display: block;
  }

  .cardContainer{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 288px;
    transform: translateX(-200%);
  }

}