hr
footer 
  div 
    a(href="https://github.com/marceloaraujodev") 
      i.bi.bi-envelope.social-media
  div 
    a(href="https://github.com/marceloaraujodev") 
      i.bi.bi-pinterest.social-media
    a(href="https://github.com/marceloaraujodev") 
      i.bi.bi-facebook.social-media
    a(href="https://github.com/marceloaraujodev") 
      i.bi.bi-instagram.social-media
    a(href="https://github.com/marceloaraujodev") 
      i.bi.bi-twitter-x.social-media
      