extends base

block content 
  form.login(onSubmit={login}) 
    h1 Login
    input(type="text" placeholder='Username' name='username' value='username' onChange='(event) => setUsername(event.target.valeu)')
    input(type="password" placeholder='Password' name='password' value='password' onChange='(event) => setPassword(event.target.valeu)')

    button(disabled={isLoggingIn})
      | #{isLoggingIn ? 'Logging in...' : 'Login'}

